
.gform_wrapper.gform_wrapper {

  // Inputs
  .gform_footer input.button,
  .gform_footer input[type=submit] {
    @include button( $button-color );
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="url"],
  input[type="search"],
  textarea {
    padding: .5em .75em;
  }

}


input#input_2_3 {
    width: 100%;
}
input#input_2_2 {
    width: 100%;
}
div#gform_confirmation_message_2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    background-color: #79c143;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}
div#gform_confirmation_message_1 h2 {
    color: white;
    text-align: center;
    padding-top: 0.4em;
}
