
/**
 * Sidebar
 */

.sidebar {
  margin-top: 3em;

  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}

// Advanced Template Sidebar
.advanced-sidebar {
  padding: 2em 0;

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    margin: 0;
  }
}


.latest-news-sidebar{
  margin-top: 1.5em;
  background-color: #EAEAEB;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  .post-container{
    padding: 1em 1.5em;
    padding-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .latest-news-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $color-green;
    margin-top: 1.5em;
    h3{
      font-size: 24px;
      padding: 0.7em;
      color: white;
      font-weight: 700;
    }
  }
  .box{
    border-bottom: 1px solid #979797;
    padding: 1em 0px;
    &:last-child{
      border-bottom: none;
    }
    .box-footer{
      p{
       margin-bottom: 0.6em;
      }
    }
    h3{
      font-size: 18px;
      font-weight: 700;
      a{
        text-decoration: none;
        color: $color-red;
      }
    }
  }
}

.message-box{
  background-color: $color-red;
  padding: 1.5em;
  border-radius: 5px;
  margin-top: 1.5em;
  h4{
    font-size: 22px;
    color: white;
  }
  p{
    color: white;
  }
  .button{
    padding-right: 3em;
    background-color: white;
    color: #7ac143;
    font-size: 18px;
    position: relative;
    z-index: 9999999;
    &:after{
      content: url(../svg/icons/green-arrow-icon.svg);
      right: 17px;
      top: 19px;
    }
  }
}


.side-bar-callout-one{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7ac143+0,6a7740+100 */
  background: #7ac143; /* Old browsers */
  h4{
    margin-bottom: 0.7em;
    &:first-child{
      margin-bottom: 0;
    }
  }
}
.side-bar-callout-two{
  background: #f5a801; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5a801 0%, #e16b12 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f5a801 0%,#e16b12 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f5a801 0%,#e16b12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a801', endColorstr='#e16b12',GradientType=0 ); /* IE6-9 */
  position: relative;
  &:after{
    content: "";
    background-image: url(../img/src/branding/house.png);
    height: 94px;
    width: 110px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
  }
 .button{
   padding-right: 3em;
   background-color: white;
   color: $color-orange;
   &:after{
     margin-bottom: 0.7em;
     content: url(../svg/icons/orange-arrow-icon.svg);
   }
 }
}
