
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $footer-bkg;

  h5, .h5 {
    color: inherit;
    @include breakpoint($bp-large){
      text-align: left;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
}

.site-info {
  padding: 1.5em 0;
  border-top: 2px solid rgba( #fff, 0.3 );
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.address-contact-info {
  margin-top: 0.6em;
  @supports ( display: flex ){
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-large){
      justify-content: flex-end;
    }
  }
  h6, p{
    margin-bottom: 0;
    color: white;
    @include breakpoint($bp-xl){
    }
    @include breakpoint($bp-mega){
      font-size: 16px;
    }
  }
  p{
    margin-left: 0em;
    a{
      text-decoration: none;
    }
  }
  a.email{
    color: $color-green;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 4px;
  text-align: center;

  @include breakpoint($bp-med) {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}
.title-address-left-col{
  @include breakpoint($bp-large){
    float: left;
    margin-right: 10em;
  }
  p{
    color: white;
  }
}

.site-navigation{
  .address-contact-info a{
    color: #666666;
  }
}
.site-copyright p{
  color: white;
}
.imagebox p{
  color: white;
}

.footer-rainbow{
  @supports(display: flex){
    display: flex;
    .rainbow{
      padding: 3px;
      flex: 1;
    }
  }
}

.red-footer{
  background-color: $color-red;
}
.orange-footer{
  background-color: $color-orange;
}
.yellow-footer{
  background-color: $color-yellow;
}
.green-footer{
  background-color: $color-green;
}
