
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $header-bkg;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;

  @include breakpoint($bp-large) {
    display: block;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    z-index: 100;
  }

  .admin-bar & {
    top: 2em;
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( $header-bkg, 0.95 );
      box-shadow: $box-shadow;

      // // Add fancy background blur effect
      // (currently has performance issues in Chrome)
      //
      // @supports ( backdrop-filter: blur(10px) ) or
      //           ( -webkit-backdrop-filter: blur(10px) ) {
      //   background-color: rgba( #fff, 0.75 );
      //   backdrop-filter: blur(10px);
      // }
    }
  }

  .wrap {
    position: relative;
  }
}


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
    @include breakpoint($bp-xl){
      max-width: 300px;
    }
    @include breakpoint($bp-mega){
      max-width: auto;
    }
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  transition: padding-top 500ms;

  .minify-header & {
    padding-top: 0.75em;
  }
}


header{
  nav{
    &:last-child{
      background: rgba(88,89,90,1);
      background: -moz-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(88,89,90,1)), color-stop(34%, rgba(88,89,90,1)), color-stop(100%, rgba(62,62,63,1)));
      background: -webkit-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
      background: -o-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
      background: -ms-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
      background: linear-gradient(to bottom, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595a', endColorstr='#3e3e3f', GradientType=0 );
    }
  }
}

.alert-bar{
    background: rgba(243,36,50,1);
    background: -moz-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,36,50,1)), color-stop(36%, rgba(225,108,18,1)), color-stop(61%, rgba(246,168,0,1)), color-stop(100%, rgba(189,164,0,1)));
    background: -webkit-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
    background: -o-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
    background: linear-gradient(to right, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32432', endColorstr='#bda400', GradientType=1 );
    color: white;
    text-align: center;
    padding-top: 3em;
    @include breakpoint($bp-med){
      padding-top: 0em;
    }
    @include breakpoint($bp-large){
      padding-top: 0;
    }
    a{
      text-decoration: none;
      padding: 0.5em 1.5em;
      display: block;
      color: white;
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
    }
}

.on{
  display: block;
}
.off{
  display: none;
}


.site-branding + p{
    padding: .1em;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    margin-top: .9em;
    text-align: center;
    width: 250px;
    background-color: #ed2637;
  @include breakpoint($bp-large){
    padding: 0.3em;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 0.9em;
    width: auto;
  }
}



.drop--down{

}
