
.page-template-template-home {
  .request-demo-form{
    padding: 0.5em 0;
    .gform_wrapper{
      form{
        @include breakpoint($bp-med){
          @supports(display: flex){
            display: flex;
            align-items: center;
          }
        }
        .gform_body{
          ul{
            @include breakpoint($bp-med){
              @supports(display: flex){
                display: flex;
                align-items: center;
              }
            }
            label{
              @include visuallyhidden();
            }
            li{
              flex: 1;
              margin-top: 0;
              input{
                border: none;
                border-radius: 5px;
                width: 100%;
                padding: 0.8em 1em !important;
              }
            }
          }
        }
        .gform_heading{
          @include breakpoint($bp-med){
            width: 30%;
          }
          padding-right: 1em;
          margin-bottom: 0;
          .gform_title{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 29px;
            color: white;
          }
        }
        .gform_footer{
          width: auto;
          margin-top: 0;
          input{
            background-color: white;
            background-image: url(../img/src/branding/form-arrow.png);
            background-repeat: no-repeat;
            color: $color-green;
            text-transform: none;
            padding: .8em 1.5em;
            position: relative;
            background-position: 96% 20px;
            @include breakpoint($bp-med){
              background-position: 97px 12px;
            }
            padding-right: 2.8em;
            font-size: 16px;
            margin-right: 0;
            &:hover{
              background-color: white;
              background-image: url(../img/src/branding/form-arrow.png);
              background-repeat: no-repeat;
              color: $color-green;
              text-transform: none;
              padding: .8em 1.5em;
              position: relative;
              padding-right: 2.8em;
              font-size: 16px;
              background-position: 96% 20px;
              @include breakpoint($bp-med){
                background-position: 97px 12px;
              }
            }
          }
        }
      }
    }
  }
  // ----------
  //   form
  // ----------
  .shortcut-card{
    position: relative;
    overflow: hidden;
    background-color: #E5E5E5;
    padding-top: 5em;
    padding-bottom: 0;
    @include breakpoint($bp-med){
      padding-top: 4.5em;
      padding-bottom: 5em;
    }
    @include breakpoint($bp-large){
      background-color: transparent;
    }
    .bg-grey-photo{
        @include block-fit-cover(110em);
        z-index: 0;
        display: none;
        @include breakpoint($bp-large){
          display: block;
        }
      }
    .l-grid-item{
      .card{
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         margin-bottom: 4em;
         @include breakpoint($bp-med){
           margin-bottom: 0;
         }
      }
      .card-thumbnail{
        position: relative;
        overflow: hidden;
        background-color: #58595A;

        @include breakpoint($bp-xsmall){

        }
        @include breakpoint($bp-med){
        }
        @include breakpoint($bp-large){
         padding: 3.8em;
        }
        .card-video-button{
          img{
            @include block-fit-cover(0);
            position: static;
            @include breakpoint($bp-large){
              position: absolute;
            }
            opacity: 0.6;
          }
          svg{
            z-index: 10;
            text-align: center;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: -20px;
            bottom: 0;
          }
          span{
            position: absolute;
            z-index: 10;
            color: white;
            left: 0;
            right: 0;
            bottom: 22px;
            text-align: center;
            font-size: 16px;
            font-style: italic;
          }
        }
      }
      .card-header{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        color: white;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        z-index: 999999999;
        padding-top: 0.7em;
        padding-bottom: 0.2em;
        text-align: center;
        .card-icon{
          border-radius: 100%;
          width: 76px;
          height: 76px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          position: absolute;
          top: -35px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: -2;
           img{
             margin-bottom: 0.5em;
           }
        }
      }
      .card-footer{
        text-align: center;
        padding: 1em;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-bottom: 1.5em;
        background-color: white;
        position: relative;
      }
      &:nth-child(1){
          .card-header{
          background-color: $color-green;
            .card-icon{
              background-color: $color-green;
            }
          }
          .card-footer{
            .button{
              @include button($button-color-3);
              text-transform: none;
              font-size: 16px;
              font-style: italic;
              padding-right: 3em;
            }
          }
      }
      &:nth-child(2){
          .card-header{
          background-color: $color-yellow;
            .card-icon{
              background-color: $color-yellow;
            }
          }
          .card-footer{
            .button{
              @include button($button-color);
              text-transform: none;
              font-size: 16px;
              font-style: italic;
              padding-right: 3em;
            }
          }
      }
      &:nth-child(3){
          .card-header{
          background-color: #71bfeb;
            .card-icon{
              background-color: #71bfeb;
              text-transform: none;
              font-size: 16px;
              font-style: italic;
            }
          }
          .card-footer{
            .button{
              @include button($button-color-5);
              text-transform: none;
              font-size: 16px;
              font-style: italic;
              padding-right: 3em;
            }
          }
      }
      &:nth-child(4){
          .card-header{
          background-color: $color-red;
            .card-icon{
              background-color: $color-red;
            }
          }
          .card-footer{
            .button{
              @include button($button-color-2);
              text-transform: none;
              font-size: 16px;
              font-style: italic;
              padding-right: 3em;
            }
          }
      }
    }
  }
}



  .shortcut-link{
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-large){
        flex-direction: row;
      }
    }
    .block-1{
      flex: 1;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5a801+0,e16b12+100 */
      background: #f5a801; /* Old browsers */
      background: -moz-linear-gradient(top,  #f5a801 0%, #e16b12 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #f5a801 0%,#e16b12 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #f5a801 0%,#e16b12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5a801', endColorstr='#e16b12',GradientType=0 ); /* IE6-9 */
      overflow: hidden;
      @supports(display: flex){
        display: flex;
        align-items: center;
      }
      .content{
        padding: 2.5em;
        flex: 1;
        @include breakpoint($bp-large){
          padding: 1.5em;
          max-width: 600px;
          width: 600px;
          margin-left: auto;
          margin-right: 0;
        }
        @include breakpoint($bp-xl){
          padding: 0;
        }
        @supports(display: flex){
          display: flex;
          justify-content: space-between;
        }
        h3{
          font-size: 28px;
          color: white;
          font-weight: 700;
          position: relative;
          z-index: 999999;
        }
        .button{
          padding-right: 3em;
          position: relative;
          z-index: 10;
          background-color: white;
          color: $color-yellow;
          width: 200px;
          @include breakpoint($bp-med){
            width: auto;
          }
          &:after{
            content: url(../svg/icons/orange-arrow-icon.svg);
          }
        }
      }
      .photo{
       position: relative;
       &:after{
         position: absolute;
         content: url(../img/src/branding/Star.png);
         width: 362px;
         height: 345px;
         left: -5em;
         top: -6.2em;
       }
       img{
         position: relative;
         z-index: 10;
         margin-right: 5em;
         margin-top: 1.1em;
       }
      }
    }
     .block-2{
      flex: 1;
      background: rgba(245,81,94,1);
      background: -moz-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,81,94,1)), color-stop(100%, rgba(159,4,27,1)));
      background: -webkit-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -o-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -ms-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: linear-gradient(to bottom, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5515e', endColorstr='#9f041b', GradientType=0 );
      @supports(display: flex){
        display: flex;
        flex-direction: column;
        height: 430px;
        @include breakpoint($bp-med){
          height: auto;
          flex-direction: row;
        }
      }
      .content{
        flex: 1;
        overflow: hidden;
        padding: 2.5em;
        h3{
          font-size: 28px;
          color: white;
          font-weight: 700;
        }
        .button{
          padding-right: 3em;
          background-color: white;
          color: $color-red;
          &:after{
            content: url(../svg/icons/red-arrow-icon.svg);
          }
        }
      }
      .content-video{
        flex: 1;
        overflow: hidden;
        position: relative;
        @supports(display: flex){
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            position: relative;
            z-index: 10;
          }
        }
        img{
          @include block-fit-cover(37em);
        }
      }
    }
  }


.welcome{
  position: relative;
  overflow: hidden;
  img{
    @include block-fit-cover(340em);
    z-index: -2;
    @include breakpoint($bp-large){
      @include block-fit-cover(160em);
      z-index: -2;
    }
  }
  .welcome-message-container{
    @include breakpoint($bp-large){
      @supports(display: flex){
        display: flex;
        justify-content: space-between;
      }
    }
    .welcome-message{
      flex: 1;
      padding-right: 4em;
      margin-bottom: 2em;
      @include breakpoint($bp-large){
        margin-bottom: 0;
      }
      h3{
        border-bottom: 2px solid #D3D3D3;
        padding-bottom: 1em;
        margin-bottom: 0.5em;
        font-size: 32px;
        color: #58595A;
        font-weight: 700;
      }
    }
    .latest-news{
      flex: 1;
      > h3{
        border-bottom: 2px solid #D3D3D3;
        padding-bottom: 1em;
        margin-bottom: 0.8em;
        font-size: 32px;
        color: #58595A;
        font-weight: 700;
      }
    }
  }
  .box{
    position: relative;
    padding-left: 7.5em;
    .box-date{
      left: 0;
      position: absolute;
      background: $color-red;
      color: white;
      border-radius: 100%;
      width: 88px;
      height: 88px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
  }
  .box-header{
    h3{
      a{
        font-size: 18px;
        color: $color-red;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  .box-footer{
    margin-bottom: 1em;
    p{
      margin-bottom: 0.6em;
    }
  }
}
