
.blog-page {

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid #D3D3D3;
    }
  }
  .entry-title{
    a{
      color: $color-red;
    }
  }
}
.posted-on{
  text-transform: none;
  a{
    text-decoration: none;
    color: $color-green;
    &:hover{
      text-decoration: underline;
    }
  }
}

.entry-meta p a{
  text-decoration: none; 
}
