
/**
 * Testimonials Template Page
 */

.testimonial-section {
  .l-grid-wrap {
    margin: 0 auto;
    max-width: 57.8125em;
  }

  .l-grid {
    margin-top: -1em;
    margin-left: -1em;
  }

  .l-grid-item {
    padding-top: 1em;
    padding-left: 1em;
  }
}

.testimonials-header {
  margin-bottom: 2em;
  padding: 1.875em 0 3em;
}

.testimonials-header h2 {
  margin: 0;
}

.testimonial-preview {
  margin: 0 auto;
  max-width: 18.75em;
  border-radius: 5px;
  background: #eaeaeb;
  overflow: hidden;

  .testimonial-body {
    padding: 1em;

    h2 {
      color: $heading-color;
      font-size: 1.25em;
      line-height: 1.4;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    color: #f32433;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: #a00813;
    }
  }

  .testimonial-review-info {
    float: none;
    margin: 0;
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 2px solid #fff;

    p {
      margin: 0;
    }
  }
}


.testimonial-figure {
  img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    height: auto;
  }
}

.testimonial-excerpt {
  position: relative;
  margin: .5em 0;
  // height: 7.5em;
  overflow: hidden;

  p {
    margin: 0;
  }

  &::before {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( transparent 2em, #eaeaeb );
    content: '';
  }
}

.testimonial-meta {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  list-style: none;
  line-height: 1;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.2;

    + li {
      margin: 0;
      margin-left: 0.75em;
      padding-left: 0.75em;
      border-left: 2px solid #fff;
    }
  }
}

.testimonial-full {
  margin: 2em auto;
  padding: 2em;
  max-width: 44em;
  background: #fff;

  .testimonial-figure {
    margin-bottom: 1em;
  }
}

.testimonial-content-footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid #fff;

  p {
    margin: 0;

    + p {
      margin-top: 0.5em;
    }
  }

  .button {
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    padding: 0.5em 1em;
    color: #fff;
    text-decoration: none;
    background: #7ebf3f;
    transition: background 500ms;

    &:hover,
    &:focus {
      background: #57822b;
    }
  }
}

.testimonial-review-info {
  margin-bottom: 1em;

  @include breakpoint($bp-med) {
    float: right;
    margin-bottom: 0;
    margin-left: 1em;
  }

  p {
    font-size: 0.875em;
  }

  img {
    display: block;
    margin: 0;
  }
}
