
html {
  box-sizing: border-box;
  color: $text-color;
  font-family: $font-base;
  line-height: 1.6;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Disable scrolling when mobile nav is open
body {
  &.show-nav {
    overflow: hidden;

    @include breakpoint($bp-med) {
      overflow: scroll;
    }
  }
}
