
.button,
input[type="submit"] {
  @include button( $button-color );
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  &:after{
    content: url(../svg/icons/button-arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}

.text-button {
  @include button-reset;
  color: $button-color-3;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  transition: color 500ms, border-bottom-color 500ms;
  position: relative;
  &:after{
    position: absolute;
    right: -1em;
    top: 0;
    content: ">";
  }

  &:hover,
  &:focus {
    color: $button-color--hover-3;
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}

.slide-content-container{
  .button{
    &:after{
      top: 21px;
    }
  }
}


.ip-button-yellow{
  @include button( $button-color );
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  padding-right: 2.6em;
  &:after{
    content: url(../svg/icons/button-arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}
.ip-button-red{
  @include button( $button-color-2 );
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  padding-right: 2.6em;
  &:after{
    content: url(../svg/icons/button-arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}
.ip-button-green{
  @include button( $button-color-3 );
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  padding-right: 2.6em;
  &:after{
    content: url(../svg/icons/button-arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}
.ip-button-orange{
  @include button( $button-color-4 );
  border-radius: 5px;
  position: relative;
  text-transform: none;
  font-size: 16px;
  font-style: italic;
  padding-right: 2.6em;
  &:after{
    content: url(../svg/icons/button-arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 13px;
    top: 16px;
  }
}
