
/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $bkg-light-grey;
}

.color-option-3 {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
}

.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.gradient-red{
  background: rgba(243,36,50,1);
  background: -moz-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,36,50,1)), color-stop(36%, rgba(225,108,18,1)), color-stop(61%, rgba(246,168,0,1)), color-stop(100%, rgba(189,164,0,1)));
  background: -webkit-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
  background: -o-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
  background: linear-gradient(to right, rgba(243,36,50,1) 0%, rgba(225,108,18,1) 36%, rgba(246,168,0,1) 61%, rgba(189,164,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32432', endColorstr='#bda400', GradientType=1 );
}

.gradient-black{
  background: rgba(88,89,90,1);
  background: -moz-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(88,89,90,1)), color-stop(34%, rgba(88,89,90,1)), color-stop(100%, rgba(62,62,63,1)));
  background: -webkit-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
  background: -o-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
  background: -ms-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
  background: linear-gradient(to bottom, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595a', endColorstr='#3e3e3f', GradientType=0 );
}
