
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {

  @include breakpoint($bp-large) {
    font-size: 36px;
    color: $color-red;
  }
}

h2, .h2 {
  color: $color-green;
  @include breakpoint($bp-large) {
    font-size: 32px;
  }
}

h3, .h3 {
  color: $color-red;
  font-size: 24px;
  font-weight: 400;
}

h4, .h4 {
  font-size: 24px;
  color: $color-green;
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}

.drop--down{
  background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  p{
  }
  .box-copy{
    @supports (display: flex){
      display: flex;
      background: white !important;
      padding: 1.8em 0em 1em 1.8em;
      padding-right: 1.5em;
      justify-content: space-between;
      position: relative;
      &:before{
        content: "";
        z-index: 50;
        border-bottom: 16px solid #fff;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        height: 190px;
        position: absolute;
        top: -11.8em;
        left: 6em;
      }
    }
    .box-copy-text{
      flex: 1;
      text-align: left;
      margin-right: 2em;
      h3{
        font-size: 19px;
        color: $color-green;
        margin-bottom: 1em;
        font-weight: 700;
      }
      p{
        font-size: 20px;
        line-height: 1.2;
      }
      .ip-button-green{
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
        &:after{
          content: url(../svg/icons/green-arrow-icon-small.svg);
          width: 20px;
          height: 20px;
          position: absolute;
          right: 13px;
          top: 9px;
        }
      }
    }
    .menu-item-container {
        display: flex;
        background: white;
        flex-wrap: wrap;
        flex: 2;
        text-align: left;
        display: grid;
        grid-template-columns: 350px 350px;
        li + li{
          margin-left: 0;
        }
        li{
          margin-bottom: 1em;
          margin-right: 1.2em;
          a{
            @supports ( display: flex ){
              display: flex;
              align-items: center;
              font-size: 19px;
              color: #58595A;
              font-weight: 800;
              text-decoration: none;
              position: relative;
              &:hover{
                color: #f5a801;
              }
              &:after{
                position: absolute;
                content: "";
                border: 1px solid #E5E5E5;
                bottom: -8px;
                left: 6.5em;
                right: 0;
                height: 2px;
              }
            }
            img{
              margin-right: 0.8em;
            }
          }
        }
    }
  }
}



.drop--down-1{
  .menu-item-container{
    position: relative;
    padding-top: 2.5em;
    &:after{
      content: "Choose Your Home Type";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 19px;
      color: #7ac143;
      text-transform: uppercase;
      font-weight: 800;
    }
    &:before{
      width: 100%;
    }
  }
}
.drop--down-2{
  .menu-item-container{
    position: relative;
    padding-top: 2.5em;
    &:after{
      content: "INSULATION TYPES";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 19px;
      color: #7ac143;
      text-transform: uppercase;
      font-weight: 800;
    }
    &:before{
      width: 100%;
    }
  }
}


header{
  position: relative;
  .drop--down{
    position: absolute;
    bottom: -23em;
    left: 0;
    right: 0;
    margin: auto;
    border-right: 9px solid #79c143;
    display: none;
    @include breakpoint($bp-xl){
      width: 75em;
    }
  }
}


.menu-item-1762, .menu-item-1765{
  margin-bottom: 1em;
  a{
    @supports ( display: flex ){
      display: flex;
      align-items: center;
      font-size: 19px;
      color: #58595A;
      font-weight: 800;
      text-decoration: none;
      position: relative;
      &:after{
        position: absolute;
        content: "";
        border: 1px solid #E5E5E5;
        bottom: -8px;
        left: 5.6em;
        right: 0;
        height: 2px;
        display: none;
      }
    }
    img{
      margin-right: 0.5em;
    }
  }
}

.first{
  border-left: 1px solid #979797;
}

.box-copy{
  .box-copy{
    padding: 0;
  }
}
.menu-item-1766, .menu-item-1770{
 a{
   &:after{
     border-bottom: 0;
     display: none;
   }
 }
}
