
.banner {
  position: relative;
  width: 100%;
  padding-top: 1em;
  @include breakpoint($bp-med){
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  @include breakpoint($bp-large){
    padding: 2.9375em 2.937em 0;
  }
  background-color: #899296;
  background-image: url(../img/src/branding/banner-bg-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  padding: 3em;
  padding-top: 6em;
  @include breakpoint($bp-med){
    padding: 3em;
    padding-top: 7em;
  }
  @include breakpoint($bp-large){
    padding: 3.9375em 0;
    padding-top: 12em;
  }
  @include breakpoint($bp-xl){
    padding-top: 9.7em;
    padding-bottom: 2.7em;
  }
  @include breakpoint($bp-mega){
    padding-top: 10em;
    padding-bottom: 2.7em;
  }
  width: 100%;
  background-color: $banner-bkg;
  overflow: hidden;
  z-index: 1;
}

.banner-title {
  position: relative;
  z-index: 10;
  margin-bottom: 0.7em;

  .h1 {
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint($bp-med){
      text-align: left;
    }
    color: #58595A;
  }
}

.banner-image {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}


.banner{
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
    @include breakpoint($bp-med){
      flex-direction: row;
    }
  }
}
.photo-container{
  @include breakpoint($bp-large){
    position: absolute;
    right: 1.5em;
    bottom: -6em;
  }
  .banner-photo{
    position: relative;
    height: 165px;
    width: 479px;
    @include breakpoint($bp-large){
      height: 245px;
    }
    overflow: hidden;
    flex: 1;
    z-index: 9999999;
    .banner-image{
      @include block-fit-cover(0);
      opacity: 1;
    }
  }
}
