
/**
 * Error Block
 * ===
 * Only visible to admin users
 */

.boxpress-error {
  display: none;
  color: #fff;
  background-color: $ui-error;

  p {
    color: inherit;
  }

  .user-role-administrator & {
    display: block;
  }
}
