
/**
 * Tiny Slider
 */

.tns-outer {
  position: relative;
}

.tns-controls {
  [aria-controls] {
    @include button-reset();
    position: absolute;
    top: 50%;
    color: $button-color;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 10;
  }
  [data-controls="prev"] {
    left: 1em;
    top: 5em;
    @include breakpoint($bp-small){
      top: 6em;
    }
    @include breakpoint($bp-med){
      top: 9em;
    }
    @include breakpoint($bp-large){
      top: 17em;
    }
    @include breakpoint($bp-xl){
      top: 18em;
    }
    @include breakpoint($bp-mega){
      left: 3em;
      top: 22em;
    }
    @include breakpoint($bp-mega-med){
      left: 10em;
      top: 22em;
    }
    @include breakpoint($bp-mega-lg){
      left: 20em;
      top: 22em;
    }
  }

  [data-controls="next"] {
    right: 1em;
    top: 5em;
    @include breakpoint($bp-small){
      top: 6em;
    }
    @include breakpoint($bp-med){
      top: 9em;
    }
    @include breakpoint($bp-large){
      top: 17em;
    }
    @include breakpoint($bp-xl){
      top: 18em;
    }
    @include breakpoint($bp-mega){
      right: 3em;
      top: 22em;
    }
    @include breakpoint($bp-mega-med){
      right: 10em;
      top: 22em;
    }
    @include breakpoint($bp-mega-lg){
      right: 20em;
      top: 22em;
    }
  }

}
.carousel-section{
  .tns-controls {
    [aria-controls] {
      @include button-reset();
      position: absolute;
      top: 50%;
      color: #fff;
      background-color: transparent;
      transform: translateY(-50%);
      z-index: 10;
    }
        [data-controls="prev"] {
        left: 0em;
      }

      [data-controls="next"] {
        right: 0;
      }

  }
}


.tns-nav {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 10;

  > [aria-controls] {
    padding: 0;
    margin: 0 9px;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba( #fff, 0.6 );

    &.tns-nav-active {
      background-color: $link-color;
    }
  }
}


/**
 * Homepage Slideshow
 */

.home-carousel .carousel-slide{
  position: relative;
  @include breakpoint($bp-large){
    min-height: 500px;
  }
  @include breakpoint($bp-xl){
    min-height: 600px;
  }
  @include breakpoint($bp-mega){
    min-height: 700px;
  }
  .slide-bkg{
    display: block;
    @include breakpoint($bp-large){
      object-fit: cover;
      left: 0;
      top: 0;
      right: auto;
      bottom: auto;
      width: 100%;
      height: 100%;
      min-width: 0;
      position: absolute;
      z-index: -1;
    }
  }
}

.home-carousel{
  .tns-nav{
    display: none;
  }
  .slide-content-container{
    background: rgba(88,89,90,1);
    background: -moz-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(88,89,90,1)), color-stop(34%, rgba(88,89,90,1)), color-stop(100%, rgba(62,62,63,1)));
    background: -webkit-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
    background: -o-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
    background: -ms-linear-gradient(top, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
    background: linear-gradient(to bottom, rgba(88,89,90,1) 0%, rgba(88,89,90,1) 34%, rgba(62,62,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595a', endColorstr='#3e3e3f', GradientType=0 );
    @include breakpoint($bp-large){
      @supports( display: flex ){
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        padding: 0 1.5em;
        height: 100%;
        background: transparent;
      }
    }
    .slide-wrap{
      background: 0 0;
      width: 100%;
      min-height: 350px;
      height: 350px;
      @supports(display: flex){
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include breakpoint($bp-large){
        min-height: auto;
        height: auto;
      }
      .slide-content{
        padding-top: 1em;
        @include breakpoint($bp-large){
          padding-bottom: 1em;
          padding-left: 2.5em;
          padding-right: 31em;
        }
       @include breakpoint($bp-xl){
         padding-top: 1em;
         padding-bottom: 1em;
           padding-right: 47em;
           padding-left: 3em;
       }
       @include breakpoint($bp-mega){
         padding-left: 0em;
       }
        h2{
          color: white;
            font-size: 30px;
          @include breakpoint($bp-xl){
            font-size: 32px;
          }
          @include breakpoint($bp-xl){
            font-size: 36px;
          }
        }
        p{
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}

.slide-footer + .slide-footer{
  margin-top: 1.6em;
}

.slide-footer{
  position: relative;
  @include breakpoint($bp-large){
    margin-left: 2.5em;
  }
  @include breakpoint($bp-xl){

  }
  @include breakpoint($bp-mega){
    margin-left: 0em;

  }
  .slide-thumbnail{
  position: absolute;
  left: 0.9em;
  top: -10px;
  z-index: 2;
  .slide-video-button{
    @supports(display: flex){
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg{
      position: absolute;
      }
    }
  }
  .button {
    @include button($button-color-3);
    padding-right: 2.9em;
    padding-left: 10.1em;
    z-index: 1;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    @include breakpoint($bp-large){
      @include button($button-color);
      padding-right: 3em;
      padding-left: 9.7em;
      z-index: 1;
      padding-top: 1.3em;
      padding-bottom: 1.3em;
      text-transform: none;
      font-size: 16px;
      font-style: italic;
    }
  }
}
.slide-thumbnail:hover + .slide-video-button{
  background-color: $button-color--hover;
}

.tns-nav>[aria-controls].tns-nav-active{
  background-color: $color-yellow;
}
.tns-nav>[aria-controls]{
  background-color: #E5E5E5;
}
.slide{
  @supports(display: flex){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.carousel-section{
  .tns-outer{
    @include breakpoint($bp-large){
      padding: 0 5em !important;
    }
  }
}

div#tns2{
  @supports(display: flex){
    display: flex;
    align-items: center;
  }
}

.logo-header{
  text-align: center;
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 2em;
  h3{
    font-size: 32px;
    color: #58595A;
    font-weight: 600;
  }
}
.tns-controls{
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}
.tns-outer{
  > button{
    display: none !important;
  }
}

.no-thumb{
  padding-left: 1.3em !important;
}

.slide-image{
  @include breakpoint($bp-xsmall){
    height: 15em !important;
  }
  @include breakpoint($bp-small){
    height: 20em !important;
  }
  @include breakpoint($bp-med){
    height: 23em !important;
  }
  @include breakpoint($bp-xl){
    height: 35em !important;
  }
  img{

  }
}
.ip-slider-thumbs{
  list-style: none;
  padding-left: 0;
  display: flex;
  li{
    flex: 1;
    img{
      height: 100%;
    }
  }
  li + li{
    margin-left: 0.7em;
  }
}

.ip-slider-thumbs{
  li::before{
    display: none !important;
  }
}
.page-content .tns-outer{
  margin-bottom: 0.6em !important;
}
