
/**
 * Sidebar Layout
 */

.l-sidebar {
  @include clearfix;
  margin-left: -2em;

  .l-main-col,
  .l-aside-col {
    padding-left: 2em;

    @include breakpoint($bp-med) {
      float: left;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 72%;
      float: left;
    }
    @include breakpoint($bp-xl) {
      width: 62%;
      float: left;
    }
  }

  .l-aside-col {
    @include breakpoint($bp-med) {
      width: 28%;
      @include breakpoint($bp-xl){
        margin-left: 7.2em;
      }
    }
  }
}
