
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 0.5em;
  text-align: right;
  position: relative;

  li {
    + li {
      padding-left: 0.75em;
      border-left: 1px solid $border-color;
      position: relative;
    }
  }

  a {
    display: block;
    margin: -5px 0;
    padding: 0.5em 0.15em;
    color: $utility-nav-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      height: 20px;
      width: 100%;
    }
    @include breakpoint($bp-xl){
    font-size: 16px;

    }
    @include breakpoint($bp-mega){
    font-size: 18px;
    }

    &:hover,
    &:focus {
      color: $utility-nav-color--hover;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $utility-nav-color--active;
    }
  }
  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 165%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    padding-top: 0;
    background: #818285;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;
    z-index: 99999999;
    text-align: center;
    @supports(display: flex){
      display: flex;
      flex-direction: column;
    }
    &:before{
      content: "";
      z-index: 50;
      border-bottom: 16px solid #818285;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      position: relative;
      top: -16px;
      width: 20px;
    }

    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-left: 1px solid #818285;
        margin-left: 0 !important;
        padding-left: 0 !important;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }
    }

    a {
      padding: 1.5em 0;
      color: #fff;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $main-nav-color--hover;
        background: transparent;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $main-nav-color--hover;
        background: transparent;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

}
