
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;
  li {
    position: relative;
    flex-grow: 1;
    text-align: center;
  }

  a {
    display: block;
    color: $main-nav-color;
    font-family: $font-heading;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.7em 0.10em;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -37px;
      height: 42px;
      width: 100%;
    }

    @include breakpoint($bp-large) {
      font-size: 15px;
    }

    @include breakpoint($bp-xl) {
      font-size: 15px;
    }
    @include breakpoint($bp-mega) {
      padding: 0.8em 0.15em;
      font-size: 16px;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
      background: rgba(245,81,94,1);
      background: -moz-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,81,94,1)), color-stop(100%, rgba(159,4,27,1)));
      background: -webkit-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -o-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: -ms-linear-gradient(top, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      background: linear-gradient(to bottom, rgba(245,81,94,1) 0%, rgba(159,4,27,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5515e', endColorstr='#9f041b', GradientType=0 );
    }
  }

  > ul {
    @supports(display: flex){
      display: flex;
    }
    > li {
      &:last-child{
        border-right: 1px solid #979797;
      }
      + li {
        margin-left: 0 !important;
        border-left: 1px solid #979797;
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      position: relative;
      color: $main-nav-color--active;
      background-color: $color-red;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 150%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    background: $color-green;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;
    padding-top: 0;
    &:before{
      content: "";
      z-index: 50;
      margin-top: -17em;
      border-bottom: 16px solid #79c143;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      height: 190px;
      position: relative;
      top: -32px;
    }


    li {
      display: block;
      margin: 0;
    }

    > li {
      + li {
        border-top: 1px solid darken($bkg-med-grey, 15%);
      }
    }

    a {
      padding: 1em 0;
      color: #fff;
      font-size: 1em;

      &:hover,
      &:focus {
        color: $main-nav-color--hover;
        background: transparent;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $main-nav-color--hover;
        background: transparent;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}

.site-navigation{
  address{
    .address-contact-info{
      @supports(display: flex){
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      h6, p{
        font-size: 24px;
        color: $color-green;
        font-weight: 700;
      }
      p{
        margin-left: 0.3em;
      }
    }
  }
}


.black{
  background: #58595a;
background: -webkit-gradient(left top,left bottom,color-stop(0%,#58595a),color-stop(34%,#58595a),color-stop(100%,#3e3e3f));
background: -o-linear-gradient(top,#58595a 0,#58595a 34%,#3e3e3f 100%);
background: -webkit-gradient(linear,left top,left bottom,from(#58595a),color-stop(34%,#58595a),to(#3e3e3f));
background: linear-gradient(to bottom,#58595a 0,#58595a 34%,#3e3e3f 100%);
}
