
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
  overflow-y: scroll;
  transition: transform 350ms;
  @include breakpoint($bp-large) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-large) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}

.mobile-nav-header {
  padding: 2em 1em;
  text-align: right;
  padding-bottom: 0;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding: 2em 0;
  padding-top: 0;
  padding-bottom: 1em;
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: $heading-color;
    font-family: $font-heading;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $text-color;
      font-size: 1.1875em;
      background: $text-color;

      &:hover,
      &:focus {
        background: $text-color;
        border-color: $text-color;
      }
    }

    .search-field {
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}


.mobile-nav .sub-menu>.menu-item-has-children>a:after, .mobile-nav--main>.menu-item-has-children>a:after {
    content: url(../svg/icons/mobile-down-icon.svg);
    position: absolute;
    width: 10px;
    height: 10px;
    padding-left: .5em;
}

.mobile-nav-tray{
  .address-contact-info{
    text-align: center;
    h6, p{
      font-size: 24px;
      color: $color-green;
      font-weight: 700;
    }
    p{
     a{
         color: #666666;
     }
    }
  }
}


.mobile-nav .sub-menu>.menu-item-has-children>a:after, .mobile-nav--utility>.menu-item-has-children>a:after {
    content: url(../svg/icons/mobile-down-icon.svg);
    position: absolute;
    width: 10px;
    height: 10px;
    padding-left: .5em;
}
