
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;
    &:first-child{
      a{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &:last-child{
      a{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  a {
    display: block;
    border-bottom: 1px solid #fff;
    padding: 1em;
    color: #fff;
    text-decoration: none;
    background-color: $color-red;
    transition: background-color 500ms, color 500ms;
    font-weight: 700;
    font-size: 18px;
    &:hover,
    &:focus {
      color: $color-yellow;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      background: $color-yellow;
      &:hover{
        color: white;
      }
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
