
/**
 * Image Gallery
 */

/**
 * Image Slideshow Example
 */

.image-slideshow {

  // Only display the first slide when js is disabled
  .no-js & {
    .slide-image {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

.slide-image {
  height: 25em;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.page-content {

  .tns-outer {
    margin: 1.5em 0;
  }

  .tns-controls [data-controls=prev],
  .tns-controls [data-controls=next] {
    top: 50% !important;
    transform: translateY(-50%);
  }

  .tns-controls [data-controls=prev] {
    left: 1em !important;
  }

  .tns-controls [data-controls=next] {
    right: 1em !important;
  }
}

.logo-carousel{
  .slide{
    img{
      max-width: 145px !important;
    }
  }
}
