
.sidebar-widget {
  + .sidebar-widget {
    margin-top: 2em;
  }
}


.widget-title {
  margin: 0;
  margin-bottom: 0.5em;
}


/**
 * Categories Widget
 */

.categories-widget {
  
  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {
      border-top: 1px solid $border-color;
    }
  }

  a {
    display: block;
    padding: 0.5em 0;
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  .current-cat {
    a {
      color: $link-color;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}


/**
 * Archives Widget
 */

.archives-widget {

}


/**
 * Tags Widget
 */

.tags-widget {
  
  ul {
    @include list-reset();
    border: 0;
    margin: -0.15em;
  }

  li {
    @include nav-item-reset();
    padding: 0.15em;
    margin-right: -5px;
  }

  a {
    display: inline-block;
    vertical-align: top;
    padding: 0.25em 0.75em;
    border-radius: 3px;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    background: $button-color;
    transition: color 500ms, background-color 500ms;

    &:hover {
      color: #fff;
      background: $button-color--hover;
    }
  }
}
